.header {
  padding: 30px;
  background-color: #001233;
  
}

.header > .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mid-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mid-head > h3 {
  color: #cad2c5;
  font-family: "JakartaMedium";
  margin-right: 10px;
  cursor: pointer;
  

}
.mid-head > .green:hover{
    color: green;
    transition: .2s;

}
.mid-head > .red:hover{
    color: #d00000;
    transition: .2s;
}
.mid-head > .yellow:hover{
    color: #ffba08;
    transition: .2s;
}


.logo > h1 {
  font-family: "JakartaBold";
  color: #cad2c5;
  cursor: pointer;
}

.logo > h1:hover {
  color: #c1121f;
  transition: .7s;
}

form > input{
    outline: none;
    border-radius: 50px;
    padding: 10px;
    border: none;
}


/* background-image: radial-gradient(circle, #000000, #0e0c0e, #171618, #1c1d20, #212529); */